
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:headingfont;
    src: url(fonts/norwester.otf);
    font-weight: 100;
}

@font-face {
  font-family:captions;
  src: url(fonts/Kollektif.ttf);
}
@font-face {
  font-family:text;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
ul{
 font-family:captions ;
}
p{
  font-size: x-large;
  font-family: text;
}
.about{
  background-color: rgba(60, 136, 126, 0.048) ;
  
  margin-top: 80px;
}
.aboutTitle{
  font-family: headingfont;
}


h1{
  font-family:headingfont;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color:rgba(250, 249, 246, 1);
    color:rgba(60, 136, 126, 1);
    margin: 20px;
    margin-top: 0px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  }
  
  .logo {
    margin-left: 20px;
  }
  
  .logo img {
    height: 60px;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    display: block;
    padding: 15px;
    color: rgba(60, 136, 126, 1);
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color:rgba(60, 136, 126, 0.021);;
    opacity: 40%;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav li:last-child {
    margin-left: auto;
  }
  
body{
    padding-top:120px;
    background-color: rgba(250, 249, 246, 1);
    margin: 20px;
    padding-left: 30px;
}
form{
    padding:20px;
    width: auto;
    height: 270px;
    border:0;
    background-color: rgba(60, 136, 126, 1);
    opacity: 95%;
    margin:auto;
    font-family: captions;

}
.signup{
  background-color: rgba(60, 136, 126, 0.048);

}

.inputBar{
  border: 2px solid #181717;
	overflow: auto;
	border-radius: 5px;
  align-self: center;
  font-size: x-large;
  
  text-size-adjust:initial;
}
.inputBar input[type="text"]
{
  font-family:text;
  font-size: x-large;
	border: 0px;
	width: 97%;
	padding: 20px 20px;
  margin-bottom: 40px;
}

h2{
  font-family: captions;
}
#optnNon{
  background:url(images/nonfic.jpg) ; 
}

.Booktypes{
  margin-left: auto;
  margin-right: auto;
}

.searchBar{
    background-image: url(images/pexels-yaroslav-shuraev-6281049.jpg);
    padding: 20px;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    align-self: center;
    width: auto;


}
.benefits{
  margin-top: 60px;
}

